@use "./assets/sass/_variables.scss" as *;


.App {
  border: 4px solid $color-primary;
  display: flex;
  background-color: azure;
  // background-image: url("./assets/images/empty-pub.png");
  // opacity: 0.2;
}
